<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content=
            "width=device-width, initial-scale=1.0")
        title= report.NAME + ' - Complexity Report Summary'
        script(src="/static/table.js")
        link(rel="stylesheet", href="/static/style.css")
    body
        H1 Complexity Report Summary

        H2= report.NAME

        H3= target

        if complexityObj.length > 0
            table
                th= 'File'
                th= 'File Complexity'
                th
                each item, index in complexityObj
                    tr(id=index+'_file', onclick=`toggleRow('${index}')`)
                        td= item.file
                        td= item.complexity
                        td(id=index+'_sign')= '+'
                    if item.functions.length > 0
                        tr(id=index+'_details', style="display: none;")
                            td(colspan="3")
                                table(class="tbl-center")
                                    th= 'Function'
                                    th= 'Line'
                                    th= 'Function Complexity'
                                    each itemFunction in item.functions
                                        tr
                                            td= itemFunction.name
                                            td= itemFunction.line
                                            td= itemFunction.complexity
        else
            p(class="empty")= 'No summary available'

        p
            a(href='/reports/'+idx, class="button") Back